<html lang="en-US">
<head>
    <title>Survey Analysis</title>
</head>

<body>
    <h1>Survey analysis</h1>
    <h2>Q1 About UI</h2>
    <ul>
    <% for (var i=0; i<results[0].length; i++){ %>
        <li><%= results[0][i].aboutUI %> :  <%= results[0][i].count %></li>
    <% } %>    
    </ul>

    <h2>Q2 Overall feeling about the UI</h2>
    <ul>
    <% for (var i=0; i<results[1].length; i++){ %>
        <li><%= results[1][i].feel %> :  <%= results[1][i].count %></li>
    <% } %>    
    </ul>

    <h2>Q3 Favorite food recipe</h2>
    <ul>
    <% for (var i=0; i<results[2].length; i++){ %>
        <li><%= results[2][i].comment %> :  <%= results[2][i].count %></li>
    <% } %>    
    </ul>

    <h2>Q4 Yes or No</h2>
    <ul>
    <% for (var i=0; i<results[3].length; i++){ %>
        <li><%= results[3][i].yes_no %> :  <%= results[3][i].count %></li>
    <% } %>    
    </ul>

    <h2>Q5 What goals this website achived</h2>
    <ul>
    <% for (var i=0; i<results[4].length; i++){ %>
        <li><%= results[4][i].goal %> :  <%= results[4][i].count %></li>
    <% } %>    
    </ul>

    <h2>Q6 UI rating</h2>
    <ul>
    <% for (var i=0; i<results[5].length; i++){ %>
        <li><%= results[5][i].range %> :  <%= results[5][i].count %></li>
    <% } %>    
    </ul>

    <h2>User info</h2>
    <ul>
    <% for (var i=0; i<results[6].length; i++){ %>
        <li>name: (<%- results[6][i].name[0] %> <%- results[6][i].name[1] %>) email: (<%- results[6][i].name[2] %>) :  <%= results[6][i].count %></li>
    <% } %>    
    </ul>
</body>
</html>